node_modules/
/build/

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

venv/
myenv/
back-end/myenv/

**/venv/
**/myenv/

.env
logs.txt
**/.DS_Store

__pycache__/
*.py[cod]
*$py.class