/****************************************************************
		
	Fichier : font.css	
	Description : Feuille de style des fonts-face du site web CSS
	Auteur : Félix Beaulieu
	Version (date) :  2024-01-29		
		
					
****************************************************************/

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url(./font/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: RobotoCondensed-Medium;
    src: url(./font/RobotoCondensed-Medium.ttf);
}

@font-face {
    font-family: RobotoCondensed-Ligth;
    src: url(./font/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url(./font/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: RobotoCondensed-Black;
    src: url(./font/RobotoCondensed-Black.ttf);
}