DATABASE_DEV_URL=mysql+pymysql://root:Patate123@localhost/h2024
DATABASE_TEST_URL=mysql+pymysql://root:Patate123@localhost/h2024test
CORS=http://localhost:5173
SECRET_KEY=secret
ENCRYPTION_KEY=AJFKAEJLJFFJAEFLKAEFJAELKAEJ2232
URL=localhost:5173
MAIL_ADMINISTRATOR_ADDRESS=emploietudiant@mailinator.com
MAIL_CLIENT_ID=
MAIL_CLIENT_SECRET=
MAIL_TENANT_ID=
MAIL_GRAPH_USER_ID=
MAIL_ENABLED=False
URL=localhost:5173