cors==1.0.1
cryptography==42.0.8
Flask==3.0.3
Flask-Argon2==0.3.0.0
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.1
Flask-Migrate==4.0.7
Flask-Script==2.0.6
flask-swagger-ui==4.11.1
gunicorn==22.0.0
mariadb==1.1.10
node==1.2.2
PyJWT==2.8.0
PyMySQL==1.1.1
pytest==8.2.2
python-dotenv==1.0.1
react==4.3.0
virtualenv==20.26.2
secure-smtplib==0.1.1
