Flask==3.1.2
Flask-Argon2==0.3.0.0
Flask-Bcrypt==1.0.1
flask-cors==6.0.2
Flask-Migrate==4.1.0
gunicorn==24.1.1
mariadb==1.1.14
node==1.2.2
PyJWT==2.10.1
PyMySQL==1.1.2
pytest==9.0.2
python-dotenv==1.2.1
react==4.3.0
virtualenv==20.36.1
secure-smtplib==0.1.1
pycryptodome==3.23.0
opentelemetry-instrumentation-flask==0.60b1
opentelemetry-instrumentation-requests==0.60b1
opentelemetry-instrumentation-sqlalchemy==0.60b1
opentelemetry-sdk==1.39.1
opentelemetry-exporter-otlp==1.39.1
bleach==6.0.0
msal==1.34.0
pydantic==2.13.4
pydantic[email]==2.13.4
freezegun==1.5.5